<div class="row">
  <nb-card>
      <nb-card-header>Decision Server REST API</nb-card-header>
      <nb-card-body>
        <span><a href="{{apiUrl}}docs">{{apiUrl}}docs</a></span>
      </nb-card-body>
  </nb-card>
</div>
<div class="row" *ngIf="apiError">
    <ngx-status-card title="The Decision Server API is unreachable!!" type="warning" status="WARNING">
      <i class="nb-flame-circled"></i>
    </ngx-status-card>
</div>
<div class="row" *ngIf="kieContainers.length <= 0">
    <ngx-status-card title="No containers available in the Decision Server" type="warning" status="WARNING">
      <i class="nb-flame-circled"></i>
    </ngx-status-card>
</div><br/><hr/>
<div class="row" *ngIf="kieContainers.length > 0">
  <h1>Decision Server Available Containers</h1>
  <div class="col-xxxl-3 col-md-6" *ngFor="let kContainer of kieContainers">
    <ngx-status-card title="{{kContainer.alias}}" type="{{ kContainer.status === 'STARTED' ? 'success' : 'warning' }}" status="{{kContainer.status}}">
      <i class="nb-gear"></i>
    </ngx-status-card>
  </div>
</div>