<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Light" type="primary">
      <i class="nb-lightbulb"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Roller Shades" type="success">
      <i class="nb-roller-shades"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Wireless Audio" type="info">
      <i class="nb-audio"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Coffee Maker" type="warning">
      <i class="nb-coffee-maker"></i>
    </ngx-status-card>
  </div>
</div>